body{
    margin: auto;
    background-color: #f1a8a8;
}
a{
    text-decoration: none;
    color:#3b2632
}
header{
    height:60px;
    /* border:5px solid hotpink; */
    background-color: #3b2632;
}

#brand{
    float:left;
    color:white;
    font-size: 30px;
    margin-top: 1%;
    margin-left: 1%;
}

#social{
    float: right;
}
.socialIcon{
    height:50px
}

/*Search css*/

#search{
    height:450px;
    /* border:10px groove green; */
    background-image: url('image/food-wallpaper.png');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size:100% 450px
}
.logo{
    height:150px;
    width:150px;
    background-color: white;
    border-radius: 50%;
    margin-left: 45%;
    margin-top:2%;
    position: absolute;
    font-size: 90px;
    animation:revolve 10s infinite
}

@keyframes revolve {
    0%{
        margin-left: 2%;
        transform: rotate(30deg);
    }
    25%{
        margin-left: 20%;
        transform: rotate(90deg);
    }
    50%{
        margin-left: 40%;
        transform: rotate(180deg);
    }
    75%{
        margin-left: 80%;
        transform: rotate(270deg);
    }
    100%{
        margin-left: 40%;
        transform: rotate(360deg);
    }
    
}

.logo>span{
    margin-left: 20%;
    margin-top:12%;
    position: absolute;
}

#heading{
  font-size: 60px;
  color:white;
  margin-left: 32%;
  margin-top:14%;
  position: absolute;
}
.dropdown{
    height:60px;
    width:50%;
    /* border: 2px solid white; */
    margin-left: 30%;
    margin-top:22%;
    position: absolute;
}

select{
    height:60px;
    width:40%;
    font-size: 20px;
    text-align: center;
}

#restSelect{
    width:59%
}

/*QuickSearch css*/

#quickSearch{
    /* height:600px; */
    /* border: 10px double red; */
    width:80%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.quickHeading{
    font-size:30px;
    color:#3b2632;
    display: block;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 2%;

}
.quickSubHeading{
    font-size:20px;
    line-height: 2;
    color:gray;
    margin-left: 2%;
    display: block;
    font-family:Georgia, 'Times New Roman', Times, serif
}

#tileBox{
    display: flex;
    flex-wrap: wrap;
}
.tileContainer{
    height:180px;
    width:30%;
    margin-top: 3%;
    margin-left: 2%;
    display: flex;
    box-shadow: 10px 20px 10px #280b28;
    animation: dance 10s infinite;
}

@keyframes dance{
    0%{
        transform: rotate(-5deg);
    }
    25%{
        transform: rotate(0deg);
    }
    40%{
        transform: scale(1.1);
    }
    50%{
        transform: rotate(5deg);
    }
    75%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-5deg);
    }
}

.tileComponent1{
    width:52%;
}

.tileComponent1>img{
    width:100%;
    height:100%
}

.tileComponent2{
    width:45%;
    margin-left: 3%;
    margin-top: 15%;

}

.tileContainer:hover{
    transform: scale(1.1);
    /* transform: skewx(40deg); */
    /* transform:rotate(180deg) */
    /* transform: translate(100px, 200px); */
}

.compHeading{
    font-size: 25px;
    font-weight: bold;
}

.compSubHeading{
    font-size: 20px;
    color:gray
}

/*** Footer CSS**/

footer{
    /* border:5px dashed orange; */
    text-align: center;
    background-color: #3b2632;
    color:white
}

.footText{
    font-size:20px
}

.footDiv{
    display: inline-block;
    width:32%;
    border-right: 2px solid white;
}

ul{
    list-style-type: none;
}

.noBorder{
    border:none
}

@media screen and (max-width:1600px) {
   body{
       background-color: skyblue;
   } 
}

@media screen and (max-width:1400px) {
    body{
        background-color: rgb(154, 232, 215);
    } 
 }

 @media screen and (max-width:1200px) {
    body{
        background-color: rgb(154, 232, 167);
    } 
 }

 @media screen and (max-width:1100px) {
    body{
        background-color: rgb(198, 232, 154);
    } 
 }

 @media screen and (max-width:1000px) {
    body{
        background-color: rgb(232, 154, 162);
    } 
    .tileContainer{
        width: 45%
    }
 }


 @media screen and (max-width:800px) {
    body{
        background-color: rgb(174, 154, 232);
    } 
    .tileContainer{
        width: 45%
    }
 }


 @media screen and (max-width:700px) {
    body{
        background-color: rgb(232, 154, 214);
    } 
    .tileContainer{
        width: 90%
    }
 }