body{
    margin: auto;
    background-color: #f1a8a8;
}
header{
    height:60px;
    /* border:5px solid hotpink; */
    background-color: #3b2632;
}

#brand{
    float:left;
    color:white;
    font-size: 30px;
    margin-top: 1%;
    margin-left: 1%;
}

#social{
    float: right;
}
.socialIcon{
    height:50px
}

/*Search css*/

#search{
    height:450px;
    /* border:10px groove green; */
    background-image: url('image/food-wallpaper.png');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size:100% 450px
}
.logo{
    height:150px;
    width:150px;
    background-color: white;
    border-radius: 50%;
    margin-left: 45%;
    margin-top:2%;
    position: absolute;
    font-size: 90px;
}

.logo>span{
    margin-left: 20%;
    margin-top:12%;
    position: absolute;
}

#heading{
  font-size: 60px;
  color:white;
  margin-left: 32%;
  margin-top:14%;
  position: absolute;
}
.dropdown{
    height:60px;
    width:50%;
    /* border: 2px solid white; */
    margin-left: 30%;
    margin-top:22%;
    position: absolute;
}

select{
    height:60px;
    width:40%;
    font-size: 20px;
    text-align: center;
}

#restSelect{
    width:59%
}

/*QuickSearch css*/

#quickSearch{
    height:600px;
    border: 10px double red;
    width:80%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

footer{
    height:60px;
    border:5px dashed orange
}